node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

dist
build
coverage

.env
.env.*
!.env.example

*.log

tests

.git
.gitignore

.vscode
.idea

docker-compose.yml
docker-compose.override.yml
Dockerfile
Dockerfile.*

.DS_Store
Thumbs.db